<p> Hi! This is an about page. I like movies. That's all. Enjoy the site!</p>

<img src="http://cdn.cnwimg.com/wp-content/uploads/2011/11/kate-upton-in-gq-july-2012-issue-02-768x1024.jpg" height=500px />