<h1>What are your favorite movies?</h1>

<form action="/add_movie" method="post">
  <label for="title">Title</label><br>
  <input type="text" name="title" autofocus><br>
  <button>Add movie</button>
</form>