<h1>Movies</h1>
<p>Add your favorite movies</p>

<form action="/" method="post">
  <p>Title: <input type="text" name="title" autofocus></p>
  <button>Submit</button>
</form>

<% @movies.each do |movie| %>
  <li>
    <a href="/movie/<%= movie[0] %>">
      <%= movie[0] %>
    </a>
  </li>
<% end %>
</ul>