
<h1>Add A New Movie:</h1>

<form action="/new_movie" method="post">
  <input type="text" placeholder="Title" name="title" autofocus>
  <button>ADD NEW MOVIE</button>
</form>

<p><a href="/">Back to Home</a></p>