<!doctype html>

<html>
<head>
  <title>Movies</title>
</head>
<body><%= yield %></body><br>
<a href= "/movie_query">Add Another Movie</a><br>
<a href= "/">About</a><br>
<a href= "/movies">Return Home</a><br>
<img src="/popcorn.png" width:10/>

</body>
</html>
