<!doctype html>
<html>
<head>
  <title>Favorite Movies</title>
</head>
<body>
  <a href="/"><img src="/favorite_movies_logo.png" alt="favorite movies logo" width=200></a>
  <h1>Favorite Movies</h1>
  <%= yield %>
</body>
</html>


