<!DOCTYPE>
<html>
<head>
  <title>Check in Your Favorite Movies</title>
</head>
<body>
  <%= yield %>
  <a href="/about">Check out Kevon's Favorite</a>
  <br/>
  <a href="/new_movie">Add Movie</a>
  <br/>
  <a href="../../">Back</a>
</body>
</html>