<!DOCTYPE html>
<html>
<head>
  <title>Christine's Movie Site</title>
  <img src="domino.jpg" alt="domino logo" width=100/>
</head>
<body>
  <a href="/">Favorite Movies</a>
  <a href="/new_movie">Add a New Movie</a>
  <a href="/about_me">About Me</a>
  <%= yield %>
</body>
</html>