<!doctype html>
<html>
  <head>
    <title>IMDB Woo!</title>
  </head>
  <body>
  <%= yield %>
  <p><a href="/">Favorite movies list<a><p>
  <p><a href="/add_movie">Add a favorite movie!</a></p>
  <body>
</html>