<!DOCTYPE html>
<html>
<head>
  <title>My favorite shows</title>
</head>

<body>
  <img src="../pink-unicorn.jpg" height=75px />
  <a href="/">Home</a>
  <a href="/about">About</a>
  <%= yield %>
</body>

</html>