<!doctype html>
<html>
<head>
	<title>IMBD Faves</title>
</head>
<body>
	<h1> IMBD Favorites</h1>
	<%=yield%>
	<footer>
		<p><a href = "/favorites">Back to the Favorites list</a></p>
		<p><a href = "/new_favorite"> Add a new Favorite</a></p>
	</footer>
</body>
</html>
