<h1>FAVORITE MOVIES</h1>

<ul>
<% @movies.each do |title, movie_data| %>
  <li>
    <a href="/favorite_movies/<%= title %>">
      <%= "#{title}" %>
    </a>
</li>
<% end %>
</ul>

<h4>Add Movie</h4>
<form action="/add_movie" method="get">
  <input type="text" name="movie">
  <button>GO</button>
</form>




