<h1>Add a movie that you love, hate or just..meh</h1>


<form action="/new_movie" method="post">
  <input type="text" name="title" autofocus>
  <input type="text" name="year" autofocus>
  <input type="text" name="director" autofocus>
  <input type="text" name="link" autofocus>
  <input type="text" name="revenue" autofocus>
  <button>Submit</button>
</form>